
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  fill: #fff;
  text-align: center;
  text-shadow: 0 1px 0 #242424, 1px 0 0 #242424, -1px 0 0 #242424, 0 -1px 0 #242424;
  cursor: default;
}

svg{
  background: rgba(48,48,48,0.7); 
  }


  .legend {
    font-family: 'Raleway', sans-serif;
    fill: #fff;
  }
  
  .tooltip {
    fill: #fff;
  }

  .xAxis line {
    stroke: #B8B8B8;
  }
  
  .tick text {
    filL: #FFFFFF;
  }

  /* body {
    background: rgba(48,48,48,0.5); 
  } */