div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}

.jumbotron {text-align: center; 
  background-color: rgba(230,230,230,0.8);
  border-radius: 12px ;
  padding: 0.5rem 2rem;
}
.jumbotron span {color: red
}

/* svg{
    background: #303030;;
  } */

  body {
    background-image: url("assets/profile-pic/louis-pic.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
  }